* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;*/

body {
    font-family: 'Montserrat', sans-serif;
    background: hsl(30, 38%, 92%);
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
 margin: 30px auto;
 padding: 0 30px;
}

.card {
    max-width: 700px;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    overflow: hidden;
}

.img img {
    max-width: 100%;
    display: inherit;
}

.card-content {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h6.product {
    letter-spacing: 3px;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

h2.product-name {
    font-family: 'Fraunces', serif;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
}

p.product-des {
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
}

.price {
    display: flex;
    align-items: center;
    gap: 24px;
}

p.current-price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 25px;
}

p.old-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

button.send {
 background: hsl(158, 36%, 37%);
 border: none;
 padding: 12px 0;
 border-radius: 12px;
 color: white;
 font-family: 14px;
 font-weight: 700;
 cursor: pointer;
 width: 100%;
}

button.send:hover {
    background-color: hsl(158, 47%, 21%);
}

button.send img {
    padding-right: 7px;
}

@media screen and (max-width: 600px){
    .card {
        flex-direction: column;
    }
    .img img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }
    .card-content {
        display: block;
    }

    h6.product, h2.product-name , p.product-des, .price{
        margin-bottom: 23px;
    }
}